.mat-mdc-radio-button label{
  display: flex;
  width: 100%;
}


.mat-mdc-radio-button  {

 width: 100%;

}
.radio1{
width: 100px;
margin: 10px;
}

div{
  display: in;
  flex-wrap: wrap;
}



.example-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;

}

.example-full-width {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
}

